<div class="row">
  <div class="col-md-6 offset-md-3 ">
    <h1>Edit Your Profile</h1>
    <p>Be a Part of Dev Match Community and fill out your Profile</p>
    <div class="bg-light">
    <%= render 'form' %>
    </div>
  </div>
</div>
