<div class="row">
  <div class="col-md-6 offset-md-3 text-center">
    <% if params[:plan]=='prod_JyjsjOWeUecuvP' %>
      <h1>Pro Account</h1>
      <p>Sign up for the pro account for 10Euro with full access</p>
    <% else %>
      <h1>Basic Account</h1>
      <p>Sign for free and get basic access to the community</p>
    <% end %>
  </div>
  <div class="col-md-6 offset-md-3 ">
    <h2>Sign up</h2>
    <% if params[:plan]=='prod_JyjsjOWeUecuvP' %>
      <%= render 'pro_form' %>
    <% else %>
      <%= render 'basic_form' %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
