.job-title-icon {
  width: 35px;
  height: 30px;
  border: 3px solid black;
  display: inline-block;
  border-radius: 4px;
}
.profile-description {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}
.contact-info {
  color: #000;
  background-color: #31d2f2;
  border-color: #25cff2;
}
.white {
  background-color: blue;
}
.profile-show-image {
  height: 290px;
  width: 250px;
}
